<h1>Here are favorited companies :</h1>
<h1>There are <%= @favorites_companies.length%> favorited companies</h1>
<% @favorites_companies.each do |favorite| %>
    <li class="company"><%=favorite.company.to_s + ', ' +  favorite.person.to_s%></li>
    <br>
<%end %>
<h1>Here are favorited people :</h1>
<h1>There are <%= @people_list.length%> favorited people</h1>
<% @people_list.each do |favorite| %>
    <li class="person"><%=favorite[0] + ' ' + favorite[1]%></li>
    <br>
<%end %>
<p> <%= button_to "Back", company_index_path, :method => 'get' %> </p>
<p> <%= button_to 'Logout', destroy_user_session_path, :method => 'delete' %> </p>