<p> <%= button_to 'Favorites', favorites_path, :method => 'get' %> </p>
<h1>Here are People that are in the system for <%= @company.name %> stationed in <%= @company.country %> :</h1>
<% @people_on_companies.each do |person| %>
    <li><%= person.first_name + ', ' +  person.last_name%></li>
    <p> <%= button_to "Favorite", save_path(:person_id => person.first_name + ' ' + person.last_name), :remote => true %> </p>
<%end %>
<br>
<p> <%= button_to "Back", company_index_path, :method => 'get' %> </p>
<p> <%= button_to 'Logout', destroy_user_session_path, :method => 'delete' %> </p>
