<div class="container">
  <h1>Welcome!</h1>
  <p>Register to get started.</p>
  <p> <%= button_to 'Register', new_user_registration_path, :method => 'get' %> </p>
  <p> <%= button_to 'Login', new_user_session_path, :method => 'get' %> </p>
  <p> <%= button_to 'Logout', destroy_user_session_path, :method => 'delete' %> </p>
</div>