<p> <%= button_to 'Favorites', favorites_path, :method => 'get' %> </p>
<h1>Here are companies that are in the system:</h1>
<% @companies.each do |company| %>
    <li><%=link_to( company.name + ', ' +  company.country, :controller => 'people',
      :action => 'show', :id => company.id)%></li>
    <p> <%= button_to "Favorite", save_path(:company_id => company.name), :remote => true%> <!/p>
    <br>
<%end %>
<p> <%= button_to 'Logout', destroy_user_session_path, :method => 'delete' %> </p>